*, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /*background-color: #efefef;*/
}

main {
    flex: 1 0 auto;
}

/*nav*/
nav {
    background-color: #1a2930;
}

nav ul li:hover {
   background-color: #446270;
}

/*fix sidenav*/
#sidenav-overlay {
    z-index: 1;
}

nav .brand-logo {
    margin-left: 10px;
}

/*index*/
header {
    width: auto;
    margin: 0 auto;
}

/*main content*/
.container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section {
    border-radius: 10px;
    border: 0.5px solid #ccc;
    padding: 5px 10px;
    text-align: center;  
    max-height: 60px;
}

section p {
    margin: 0;
    text-align: left;
    display: inline-block;
    margin-right: 15px;
}

section ul li {
    
}

section input.select-dropdown ul {
    width: 50px;
}

.btn {
    background-color: #f7ce3e;
    padding: 0 10px;
}

.btn:hover {
    background-color: #e8b810;
}

.input-field {
    width: 200px;
    display: inline-block;
    margin: 0 15px 0 0;   
}

.input-field:hover {
    color: #c5c1c0;
}

.select-dropdown {
    margin: 0;
}

.select-wrapper input.select-dropdown {
    border-bottom: none;
}

.dropdown-content li>span {
    color: #f7ce3e;
}

/*images*/
.img-container {
    position: relative;
    width: 33.3333%;
    display: inline-block;
    border: 5px transparent solid; 
}

.image {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%; 
}

figure {
	width: 33,3333%;
	height: auto;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}

.img-container figure .image {
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

/*hover effects*/
.img-container:hover .image {
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    opacity: 0.8;   
}

.img-container:hover .overlay {
    height: 20%;
}

.text {
    white-space: nowrap; 
    color: white;
    font-size: 16px;
    position: absolute;
    overflow: hidden;
    padding: 0 2%;
    width: 100%;
    color: #000;
}

.text_left {
    width: 58%;
    display: inline-block;
}

.text_right {
    width: 38%;
    height: 100%;
    display: inline-block;
    text-align: right;
}

.text p {
    margin: 0;
    color: #4c4c4c;
}

.text a {
    color: #000;
}

.text a:hover {
    color: #565656;
}

footer {
    margin-top: 50px;
    padding-bottom: 15px;
}

.page-footer {
    background-color: #1a2930;
}

.heart:hover {
    color: #db0404;
}

.heart:active{
    color: #db0404;
}

/*profile page*/
.profile-info {
    width: 80%;
    display: flex;
    margin: 0 10% 20px 10%;
}

.img-profile {
    width: 30%;
    margin: 0;
}

.img-profile img {
    width: 100%;
    -webkit-box-shadow: 3px 3px 36px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 36px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 36px 0px rgba(0,0,0,0.75);
}

.profile-text {
    width: 100%;
    padding: 5%;
    flex-direction: column;
}

.profile-text p {
    margin: 0;
}

.img-container-profile {
    width: 25%;
    position: relative;
    display: inline-block;
    border: 5px transparent solid; 
}

.img-container-profile figure .image {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.img-container-profile:hover .image {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.img-container-profile .overlay {
    height: 20%;
    font-size: 12px;
}

.img-container-profile .overlay .text {
    font-size: 110%;
}

/*post page*/
.post-content {
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
}

.post {
    max-width: 100%;
    height: auto;
}

.post-text {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
}

.post-text img {
    max-width: 100%;
    -webkit-box-shadow: 3px 3px 36px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 36px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 36px 0px rgba(0,0,0,0.75);
}

.post-text-profile {
    width: 20%; 
    padding: 2%;
    text-align: center;
    
}

.post-text-profile a {
    color: #000;
}

.post-title {
    width: 100%;
    display: block;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
}

.post-title a {
    color: #000;
}

.post-description {
    width: 50%;
    padding: 2%;
}

/*big screens*/
@media (min-width: 1080px){  
    .input-field{
        min-width: 225px;
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 0;
    } 
    
    header {
        text-align: center;
    }
    
}

@media (max-width: 1080px){  
    header {
        text-align: center;
    }
}

/*medium screens*/
@media (max-width: 992px){
    /*index*/
    h2 {
        
    }
    
    .img-container{
        width: 50%;
    }
    
    nav .input-field {
        width: 80%;
        margin: 0 32px;
    }
    
    nav ul li:hover {
       background-color: #e2e2e2;
    }
    
    .input-field label {
        font-size: 14px;
        font-weight: 500;
    }
    
    .input-field:hover {
        color: transparent;
    }
    
    nav .btn {
      margin: 0 32px;
    }
    
    section {
        display: none;
    }
    
    .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        overflow: hidden;
        width: 100%;
        height: 20%;
        transition: .5s ease;
        opacity: 0.8; 

    }
    
    .img-container figure .image {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    
    .img-container:hover .image {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    
    /*profile*/ 
    .profile-info {
        width: 100%;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .img-profile {
        display: block;
        width: 40%;
        margin: 0 auto;
    }
    
    .img-container-profile{
        width: 50%;
    }
    
    .profile-text {
        width: 100%;
        padding: 5%;
        flex-direction: column;
    }
    
    /*post*/
    .post-content {
       width: 90%;
        
    }
    
    .post-description {
        width: 60%;
    }
}

/*small screens*/
@media (max-width: 480px){
    .img-container{
        width: 100%;
    }
    
    section {
        height: auto;
        text-align: center;
    }
    
    section p {
        display: block;
    }
    
    .input-field {
        display: block;
        width: 100%;
    }
    
    section a {
        width: 100%;
    }
    
    /*profile*/  
    .img-container-profile{
        width: 100%;
    }
    
    .img-profile {
        width: 50%;
    }
